.burger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: none;
  z-index: 30;
  background-color: transparent;
  position: relative;
  @include tablets {
    display: block;
  }
}
.burger span {
    display: block;
      position: absolute;
      background: $grey;
      width:30px;
      height: 5px;
}
.burger span:before,
span:after {
  content: "";
  top: 10px;
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: $grey;
}
