
.scroll-down {
    font-size: 18px;
    color: $grey;
    background: transparent;
    font-weight: 600;
    @include tablets {
      display: none;
    }
  }
  .scroll-icon {
    width: 14px;
    height: 14px;
    fill: $grey;
    margin-left: 10px;
  }
  