.tags {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    @include tablets {
      margin-bottom: 21px;
    }
  }
  .tags__item {
    background: #f3f6f9;
    border-radius: 40px;
    padding: 14px 22px;
    font-size: 15px;
    margin-right: 8px;
    line-height:20px;
    margin-bottom: 8px;
  }