.headline-component {
    background: #43436B;
}
.headline-container {
    display:flex;
    padding: 16px 0;
    align-items: center;
}
.title {
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.btns {
margin-left: auto;
}
.btn {
    color: rgba(255, 255, 255, 0.9);
    text-decoration:underline;
}
