.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: #fff;
  color: rgba(40, 51, 64, 0.5);
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 13px;
}
.remove {
  width: 11px;
  height: 11px;
  align-self: center;
  background: svg-load('cross.svg', fill=#373E42) center center no-repeat;
  cursor: pointer;
  margin: 10px 0;
}