.skill-component {
    display:flex;
    align-items: center;
    color: #414C63;

}
.title {
    flex:1;
    font-size: 1rem;
    margin-right: 70px;
}
.percent {
    display:flex;
    margin-right: 60px;
}