extends ./main.layout.pug

block content 
        .welcome-section
            section.fullscreen-section.hero(id='hero')
                .container.hero__container
                    header.header
                        a.logo(href='#hero') АП
                        nav.menu.burger__menu
                            .burger__menu-wrapper
                                ul.menu__list.burger__menu-list
                                    li.menu__item.burger__menu-item
                                        a(href='#hero' ).menu__link.burger__menu-link Главная
                                    li.menu__item.burger__menu-item
                                        a(href='#about' ).menu__link.burger__menu-link Обо мне
                                    li.menu__item.burger__menu-item
                                        a(href='#skills' ).menu__link.burger__menu-link Навыки
                                    li.menu__item.burger__menu-item
                                        a(href='#works' ).menu__link.burger__menu-link Работы
                                    li.menu__item.burger__menu-item
                                        a(href='#reviews' ).menu__link.burger__menu-link Отзывы
                                ul.socials.burger__menu-socials.active
                                        li.socials__item
                                            a(href='#', target="_blank").socials__link 
                                                +icon('insta','socials-icon socials-icon--light')
                                        li.socials__item
                                            a(href='https://github.com/any4451', target="_blank").socials__link 
                                                +icon('github','socials-icon socials-icon--light')
                                        li.socials__item
                                            a(href='#', target="_blank").socials__link 
                                                +icon('vk','socials-icon socials-icon--light')
                                        li.socials__item
                                            a(href='#').socials__link 
                                                +icon('envelope','socials-icon socials-icon--light')
                        ul.socials.header__socials
                            li.socials__item
                                a(href='#', target="_blank").socials__link 
                                    +icon('insta','socials-icon socials-icon--light')
                            li.socials__item
                                a(href='https://github.com/any4451', target="_blank").socials__link 
                                    +icon('github','socials-icon socials-icon--light')
                            li.socials__item
                                a(href='#', target="_blank").socials__link 
                                    +icon('vk','socials-icon socials-icon--light')
                            li.socials__item
                                a(href='#' target="_blank").socials__link 
                                    +icon('envelope','socials-icon socials-icon--light')
                        a(href='#').burger
                            span
                    .userinfo
                        .userinfo__subtitle Личный сайт #[br] веб разработчика
                        h1.userinfo__title Анна #[br] Подоплелова
                    .hero__buttons
                        button.scroll-down Скролл 
                            +icon('scroll-down', 'scroll-icon')
            section.about(id='about')
                .container.about__container
                    .about__user
                        .user
                            .user__avatar
                                .user__avatar-style
                                    +image('content/user.jpg', 'user__avatar-pic')
                            table.user__data
                                tr.user__data-row
                                    td.user__data-title Проживаю:
                                    td.user__data-content Санкт-Петербург
                                tr.user__data-row
                                    td.user__data-title Возраст:
                                    td.user__data-content 25 лет
                                tr.user__data-row
                                    td.user__data-title Родился:
                                    td.user__data-content 8 октября 1994
                    .about__content
                        .about__sub Привет, меня зовут
                        h2.about__title Анна Подоплелова
                        .about__text
                            p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        .about__fact Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .triangles.triangles__top
                svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles-shape.triangles-shape--left
                    polygon(points='0,0 0,100 1000,100')
                svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles-shape.triangles-shape--right
                    polygon(points='0,100 1000,100 1000,0')
        .middle-section
            section.values(id='skills')
                .container.values__container
                    .values__top
                        h3.values__title Чем я могу быть полезна вам
                        .values__desc
                             p Этот сайт я сделала в рамках обучения в школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                    .values__widget 
                        .values__widget-container
                            #skills-component
            section.works(id='works')
                .container.works__container
                    h2.works__title Мои работы
                    .works__content
                        #preview-component
                
        .triangles.triangles__bottom
                svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles-shape.triangles-shape--left.triangles-shape--down
                    polygon(points='0,0 0,100 1000,100')
                svg(viewBox='0 0 1000 100' preserveAspectRatio='none').triangles-shape.triangles-shape--right.triangles-shape--down
                    polygon(points='0,100 1000,100 1000,0')
        section.reviews(id='reviews')
                .container.reviews__container
                    .reviews__about
                        #slider-component
        footer.footer
            .container.footer__container
                .footer__copyright
                        .copyright &#169; 2020
                        .footer__name
                            .footer__name-title Анна Подоплелова
                            .footer__name-text Личный сайт веб-разработчика
                .footer__block
                    .footer__menu-wrapper
                        .menu.footer__menu
                            ul.menu__list.footer__menu-list
                                li.menu__item
                                    a(href='#about').menu__link.menu__link--dark Обо мне
                                li.menu__item
                                    a(href='#skills').menu__link.menu__link--dark Навыки
                                li.menu__item
                                    a(href='#works').menu__link.menu__link--dark Работы
                                li.menu__item
                                    a(href='#reviews').menu__link.menu__link--dark Отзывы
                        .footer__info
                            p Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                        ul.socials
                                li.socials__item.socials__item--circle
                                    a(href='#', target="_blank").socials__link 
                                        +icon('insta','socials-icon socials-icon--dark')
                                li.socials__item.socials__item--circle
                                    a(href='https://github.com/any4451', target="_blank").socials__link 
                                        +icon('github','socials-icon socials-icon--dark')
                                li.socials__item.socials__item--circle
                                    a(href='#', target="_blank").socials__link 
                                        +icon('vk','socials-icon socials-icon--dark')
                                li.socials__item.socials__item--circle
                                    a(href='#').socials__link 
                                        +icon('envelope','socials-icon socials-icon--dark')
                    .footer__quote
                            .footer__info
                                p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                                .footer__author Martin Golding

                    
                                            



            